<!-- Footer -->
<footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>  <p>&copy; <span id="copyright"></span> Alyssa Bhagwandin. 
        &middot; <a data-navigo href="/privacy-policy">Privacy</a> 
        &middot; <a data-navigo href="/terms">Terms</a>
    </p>
</footer>