<!-- home.ejs -->
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Welcome to Zookédex!</h1>
            <p class="opacity-75">Your one-stop destination to discover, learn about, and add to an ever-growing collection of animals from around the world!</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-caption">
          <h1>Explore the Animal Kingdom!</h1>
          <p>Delve into a rich variety of animals and uncover fascinating facts about each species. Perfect for animal lovers of all ages!</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Join the Zookédex Community!</h1>
            <p>Become a part of our vibrant community. Add your favorite animals and share your knowledge with fellow enthusiasts!</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img src="img/turtle.png" class="rounded-circle" width="140" height="140" alt="Add to Zookédex">
        <h2 class="fw-normal">Add To Zookédex</h2>
        <p>Here you can add to your collection of animals in the Zookédex!</p>
        <p><a class="btn custom-btn" href="create.html">View page &raquo;</a></p>
      </div>
      <div class="col-lg-4 text-center">
        <img src="img/folder.png" class="rounded-circle" width="140" height="140" alt="Add to Zookédex">
        <h2 class="fw-normal">Zookédex</h2>
        <p>Here is where you can view the collection of the animals in the Zookédex!</p>
        <p><a class="btn custom-btn" href="list.html">View page &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img src="img/info.jpg" class="rounded-circle" width="140" height="140" alt="Add to Zookédex">
        <h2 class="fw-normal">About Us</h2>
        <p>Here you can learn all about us and what we do here at Zookédex.</p>
        <p><a class="btn custom-btn" href="about.html">View page &raquo;</a></p>
      </div>
    </div>
  </div>
  